.Posts{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.PostsHeader{
    display: flex;
    margin-bottom: 10px;
}

.PostsInfo{
    margin-left: 10px;
}

.PostsInfo p{
    font-size: 12px;
    color: gray;
}

.PostsBody{
    overflow-wrap:anywhere;
    /*This wraps the post body in case of normal and extreme overflow.*/
}

.PostsInfo{
    font-size: 15px;
}

.PostsButtons{
    display: flex;
    justify-content: space-evenly;
}